<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>ComputerDatabase.log</file>
		<encoder>
			<pattern>[%date] %level [%thread] \(%file:%line\) %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date] %level [%thread] \(%file:%line\) %msg%n</pattern>
		</encoder>
		<target>System.err</target>
	</appender>


	<root level="DEBUG">
		<appender-ref ref="STDERR" />
		<appender-ref ref="FILE" />
	</root>
</configuration>